body {
    text-align: center;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

.headline {
    font-size: 24px;
    margin-top: 100px;
}

.zip {
    margin-top: 70px;
    font-size: 20px;
}

.feel {
    margin-top: 30px;
    font-size: 20px;

}

.myInput {
    margin-left: 50px;
}

#generate {
    color: black;
    background-color:gold;
    margin-left: 30px;
}

.entry {
    margin-top: 50px;
    font-size: 20px;
}

button {
    border-color:gold;
    width: 100px;
    height: 30px;
}
